*{
margin: 0px;
padding: 0px;
background: #2f3542;

}
body, html{
	height: 100%;
}
body{
	display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
overflow: hidden;
}

.loginForm{
	width: 300px;

	padding: 40px;
	background: #191919;
	text-align: center;
}
.titulo{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	background: none;
}
i{
	background: none;
	color: #fff;
}

.loginForm input[type="text"],
.loginForm input[type="password"],
.loginForm button[type="submit"] {
	border: 0;
	background: none;
	
	margin: 20px auto;
	padding: 14px 10px;
	text-align: center;
	border: 2px solid #3742fa;
	width: 200px;
	outline: none;
	color: #fff;
	border-radius: 24px;
	transition: .25s;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus{
	width: 240px;
	border-color: #fff;

}
.loginForm button[type="submit"]{

	background: #5352ed;
	border: 2px solido #3742fa;
}
.loginForm button[type="submit"]:hover{
	background: none;
}
.loginForm p{
	background: none;
	color: #fff;
}
.loginForm p a{
	background: none ;
	color: #3742fa;
}